@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.joinformContainer{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinform {
    width: 360px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid rgb(242, 38, 38);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.joinform .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(242, 38, 38);
    text-align: center;
    margin-bottom: 20px;
}

/* 필드 스타일 */
.joinform .field {
    margin-bottom: 15px;
}

.joinform .field label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

.joinform .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.joinform .input-wrapper input[type="text"],
.joinform .input-wrapper input[type="password"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.joinform .input-wrapper input:focus {
    border-color: rgb(242, 38, 38);
}

.joinform .message,
.joinform .input-wrapper .message{
    margin-top: 3px; /* 입력 필드 아래 간격 */
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    color: rgb(242, 38, 38);
}

/* 버튼 스타일 */
.joinform .btns button,
.joinform .input-wrapper button {
    flex: 2;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(242, 38, 38);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.joinform .btns button.enabled {
    background-color: rgb(242, 38, 38);
    color: #fff;
    cursor: not-allowed;
}

.joinform .btns button.disabled {
    background-color: rgb(238, 238, 238);
    color: rgb(191, 191, 191);
    cursor: pointer;
}

.joinform .btns button.enabled:hover {
    background-color: rgb(200, 30, 30);
}

.joinform .btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* 파일 업로드 및 미리보기 */
.joinform .field input[type="file"] {
    margin-top: 5px;
}

.joinform .field img {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 5px;
}

@media (max-width:700px) {
    .joinform .field , .joinform .btns , .joinform .snslogin{
        /*flex-direction: column;*/
    }
    .joinform .field input, 
    .joinform .btns button, 
    .joinform .snslogin button{
        padding: 10px;
    }
}