.topmenu{
    /* position: fixed; 
    bottom:0%;
    right:34%;
    width:600px;
    border:3px solid silver;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding:10px 0;
    margin-bottom:10px;
    box-sizing:border-box; */
}

/* .search input{

} */

.search button{
    border-radius: 30%;
    border-color: rgb(242, 38, 38);
    
    background-color: white;
    margin: 5px;
}

.search button:first-of-type{
    border-radius: 20%;
    border-color:black;
    
    background-color: white;
    margin: 5px;
    width: 60px;
    /* flex: 2; */
}